*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
}

@font-face {
  font-family: "ProductSans";
  src: url("fonts/ProductSans-Bold.woff") format("woff");
}

/*************************************/
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontent {
  margin-top: 50px;
  width: 90%;
  min-height: 300px;
}

.field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
      grid-template-areas: "a a a a b b b b c c c c" "d d d d e e e e f f f f" "g g g g h h h h i i i i";
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: a;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 10px;
}

.item1 div {
  display: -ms-grid;
  display: grid;
}

.item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.item2 div {
  display: -ms-grid;
  display: grid;
  background-color: #7a8386;
  -ms-flex-line-pack: center;
      align-content: center;
}

.item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: c;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 10px;
}

.item3 div {
  display: -ms-grid;
  display: grid;
}

.item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: d;
  background-color: #222831;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.item4 div {
  display: -ms-grid;
  display: grid;
  background-color: #7a8386;
  -ms-flex-line-pack: center;
      align-content: center;
}

.item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: e;
  background-color: #996666;
}

.item6 {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: f;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.item6 div {
  display: -ms-grid;
  display: grid;
  background-color: #7a8386;
  -ms-flex-line-pack: center;
      align-content: center;
}

.item7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: g;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

.item7 div {
  display: -ms-grid;
  display: grid;
}

.item8 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: h;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.item8 div {
  display: -ms-grid;
  display: grid;
  background-color: #7a8386;
  -ms-flex-line-pack: center;
      align-content: center;
}

.item9 {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: i;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.item9 div {
  display: -ms-grid;
  display: grid;
}

.two {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #669900;
  font-family: 'ProductSans', Bold;
  font-weight: 100;
  margin-top: 50px;
}

.redDiv {
  background-color: red !important;
}

.yellowDiv {
  background-color: yellow !important;
}

.greenDiv {
  background-color: #669900 !important;
}

.gr {
  background-color: #cecece;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.car {
  background: url("../img/white-car.svg") no-repeat;
  display: none;
}

.carGreen {
  background: url("../img/green-car.svg") no-repeat;
}
/*# sourceMappingURL=main.css.map */